<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Todo Lists</title>
    </head>
    <body>
        <main>
            <div>
                <h1>{{ todo_details.name }}</h1>
                <p>
                    <a href="{% url 'todo_list_update' todo_details.id %}">Edit</a>
                </p>
                <p>
                    <a href="{% url 'todo_list_detele' todo_details.id %}">Delete</a>
                </p>
                <h2>Tasks</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>DueDate</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in todo_details.items.all %}
                            <tr>
                                <td>
                                    <a href="{% url 'todo_item_update' task.id %}">{{ task.task }}</a>
                                </td>
                                <td>{{ task.due_date|date:"M d, Y" }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
